{% extends "base.html" %}

{% block content %}

<div class="jumbotron">
  <p>Guten Code is a series of weekly workshops that covers all the web app skills you need to build your idea. How? By starting with the idea and then teaching you all the skills you need.</p>
  <p>Our first meeting is on <strong>Thursday, January 23 at 8:00 pm</strong> in <strong>Ivey 2120</strong>. Please bring your laptop. New members can sign up when they attend.</p>
</div>

<div class="row marketing">
  <table class="table table-bordered">
    <thead>
      <tr>
        <td>Date</td>
        <td>Room</td>
        <td>Lesson</td>
        <td>Files</td>
    </thead>
    <tbody>
      <tr>
        <td>01/23/2014 8:00 pm</td>
        <td>Ivey 2120</td>
        <td>Class Introduction and Front-End Design</td>
        <td>To be posted</td>
      </tr>
    </tbody>
  </table>
</div>

{% endblock %}